# Python Practice Day02

# 1

In [1]:
a=input('Enter the roll number:')
b=int(input('Enter the roll number:'))
c=int(input('Enter the mark:'))
print('Name:',a)
print('Roll No:',b)
print('Mark:',c)

Enter the roll number:Anisha
Enter the roll number:21
Enter the mark:78
Name: Anisha
Roll No: 21
Mark: 78

# 2

In [2]:
f=float(input('Enter Temperature in Fahrenheit='))
c=((f-32)/9)*5
print("Temperature in Celsius=",c)

Enter Temperature in Fahrenheit=41
Temperature in Celsius= 5.0

# 3

In [3]:
a=int(input('Enter first  number:'))
b=int(input('Enter second number:'))
c=a*b
print('Product of the numbers entered=',c)

Enter first  number:5
Enter second number:6
Product of the numbers entered= 30

# 4

In [27]:
a='Learn Python by Developing a Website'
l1=a.split()
#print(l1)
l1.insert(1,'**')
l1.insert(3,'**')
l1.insert(7,'**')
l1.insert(9,'**')
#l1
a=l1[0]+l1[1]+l1[2]+l1[3]+l1[4]+' '+l1[5]+ ' '+l1[6]+l1[7]+l1[8]+l1[9]
print(a)

Learn**Python**by Developing a**Website**

# 5

In [5]:
import math
r=float(input('Enter the radius of a circle:'))
a=math.pi*r*r
print('Area of the circle=',a)

Enter the radius of a circle:3
Area of the circle= 28.274333882308138

# 6

In [6]:
L=[1,5,6,7,8,9]
a=int(input('Enter the number to be inserted in the list of 6 numbers:'))
b=int(input('Enter the position in which number has to insert:'))
L.insert(b,a)
L

Enter the number to be inserted in the list of 6 numbers:10
Enter the position in which number has to insert:4

[1, 5, 6, 7, 10, 8, 9]

# 7

In [7]:
sample_dict= { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict['location']=sample_dict['city']
del sample_dict['city']
sample_dict

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

# 8

In [8]:
sample_dict= {'emp1': {'name': 'John', 'salary': 7500},
               'emp2': {'name': 'Emma', 'salary': 8000},
               'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# 9

In [9]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=(tuple1[2],tuple1[3])
tuple2

(43, 54)

# 10

In [10]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
tuple1.count(50)

3